@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-base-200;
    overscroll-behavior: none;
  }

  body {
    @apply text-gray-700;
  }

  /* Remove tap highlight on touch devices */
  * {
    -webkit-tap-highlight-color: transparent;
  }

  /* Disable button active state darkening on touch devices */
  @media (hover: none) {
    .btn:active:not(:focus-visible) {
      --tw-brightness: none;
      filter: none;
    }
  }
}
